{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-3" style="background-color:lavender;">
            <iframe width="200" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        </div>
        <div class="col-xl-9" style="background-color:lavenderblush;">
            <div class="ipa-symbol"><code>{{ ipa_symbol }}</code></div>
            <div class="words-with-ipa">
                {% for word_with_ipa in words_with_ipa %}
                <div class="word-with-ipa"><p>{{ word_with_ipa.word }} -- {{ word_with_ipa.pronunciation }} ||</p></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}