{% extends "base.html" %}

{% block content %}
<div id="ipa-grid">
    <div id="ipa-youtube-video">
        <iframe type="text/html" width="400" height="400"
                src="https://www.youtube.com/embed/tgbNymZ7vqY"
                frameborder="0"></iframe>
    </div>
    <div id="ipa-data">
        <div id="ipa-symbol">
            <code>{{ ipa_symbol }}</code>
        </div>
        <div id="ipa-words">
            {% for word_with_ipa in words_with_ipa %}
            <div class="ipa-word">
                <a href="#" data-toggle="tooltip" data-placement="top" title="{{ word_with_ipa.pronunciation }}">
                    <span>{{ word_with_ipa.word }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}